TableView {
    -fx-background-color: lightblue;
}
#titulo {
    -fx-text-fill: red;
}
#buscar {
    -fx-background-color: gray;
}
#acciones {
    -fx-background-color: lightgreen;
}
#cono{
    -fx-background-color: lightyellow;
    -fx-text-fill: darkgreen;
}
#prueba{
    -fx-background-color: #fcf032;
}